# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data
*.raw
*.bin
*.log
*.csv
*.png
*.root
*.dat
*.hdf5
*.h5
*.pdf
*/*Job_*/
test/fig/
test/results/

# build 
/build/*

# test
/test/*

#vscode
/.vscode
/.vscode/*

#pycache
*__pycache__*

# test file
restats
